<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation">
<stringAttribute key="ATL File Name" value="//Ecore2ATLCopier/transformation/Ecore2ATLCopier.atl"/>
<booleanAttribute key="Disable JIT compiler" value="false"/>
<booleanAttribute key="Display Profiling Data" value="false"/>
<booleanAttribute key="Display Timing Data" value="true"/>
<mapAttribute key="Inout Model Options"/>
<mapAttribute key="Inout Models"/>
<mapAttribute key="Inout Models Output Locations"/>
<mapAttribute key="Input Model Options"/>
<mapAttribute key="Input Models">
<mapEntry key="IN" value="platform:/resource/Ecore2ATLCopier/test/UML.ecore"/>
</mapAttribute>
<mapAttribute key="Metamodel Options"/>
<mapAttribute key="Metamodels">
<mapEntry key="ATL" value="http://www.eclipse.org/gmt/2005/ATL"/>
<mapEntry key="Ecore" value="http://www.eclipse.org/emf/2002/Ecore"/>
</mapAttribute>
<stringAttribute key="Module Name" value="Ecore2ATLCopier"/>
<stringAttribute key="Module Path" value="/Ecore2ATLCopier/transformation/"/>
<mapAttribute key="Output Model Options">
<mapEntry key="OUT" value="allowIntermodelReferences derivedFile"/>
</mapAttribute>
<mapAttribute key="Output Models">
<mapEntry key="OUT" value="platform:/resource/Ecore2ATLCopier/test/UMLCopier.atl"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
